<!-- Validation failure messages -->
<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Note</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_note" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @note.user_id), :class => "hidden") %>
      </div>

      <!-- Label and input for note -->
      <div class="form-group">
        <label for="note" class="control-label">
          Note
        </label>

        <input type="text" id="note" name="note" placeholder="Note" class="form-control" value="<%= @note.note %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @note.date %>">
      </div>

      <button class="btn btn-success">
        Create Note
      </button>
      or
      <a href="/notes">Cancel</a>
    </form>
  </div>
</div>
