<div class="page-header">
  <h3>view note   <div class="btn-group" role="group">

      <button type="button" class="btn btn-link" ><a href="/notes/<%= @note.id %>/edit" ><i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i></a>
      </button>
      <button type="button" class="btn btn-link"><a href="/delete_note/<%= @note.id %>"  rel="nofollow"><i class="fa fa-lg fa-trash-o" aria-hidden="true"></i></a>
      </button>
    </div></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <dt>Note</dt>
      <dd><%= @note.note %></dd>

      <dt>Date</dt>
      <dd><%= @note.date.to_date.strftime("%B %d, %Y") %></dd>
<dt>Current Lists</dt>
<dd><% @note.lists.each do |list| %>

    <a href="/lists/<%= list.id %>">
      <%= list.list %>
    </a><br>

  </li>
<% end %>
</dd>
    </dl>



  </div>
</div>

<!-- A Note has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      <li class="list-group-item">
        <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for note_id -->
      <input type="hidden" name="note_id" value="<%= @note.id %>">

      <!-- Label and input for list_id -->
      <div class="form-group">
        <label for="list_id" class="control-label">
          Add to a list...
        </label>

        <%= select_tag(:list_id, options_from_collection_for_select(List.all, :id, :list), :class => "form-control") %>
      </div>

      <button class="btn btn-default">
        Add
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Note has many lists -->





    </ul>
  </div>
</div>
