<div class="page-header">
  <h3>Note #<%= @note.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @note.user_id %></dd>

      <dt>Note</dt>
      <dd><%= @note.note %></dd>

      <dt>Date</dt>
      <dd><%= @note.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/notes" class="btn btn-primary">
        Back
      </a>
      <a href="/notes/<%= @note.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_note/<%= @note.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Note has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @note.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.note_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Note has many lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Lists
      </li>

      <% @note.lists.each do |list| %>
        <li class="list-group-item">
          <a href="/lists/<%= list.id %>">
            <%= list.list %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/lists/<%= list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_list/<%= list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
