<div class="page-header">
  <h3>Task #<%= @task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Task</dt>
      <dd><%= @task.task %></dd>

      <dt>Task signifier</dt>
      <dd><%= @task.task_signifier %></dd>

      <dt>Task status</dt>
      <dd><%= @task.task_status %></dd>

      <dt>User</dt>
      <dd>
        <% if @task.user.present? %>
          <a href="/users/<%= @task.user_id %>">
            <%= @task.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= @task.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
