<div class="page-header">
  <h3>view task <div class="btn-group" role="group">

    <button type="button" class="btn btn-link" "><a href="/tasks/<%= @task.id %>/edit" ><i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i></a>
    </button>
    <button type="button" class="btn btn-link"><a href="/delete_task/<%= @task.id %>"  rel="nofollow"><i class="fa fa-lg fa-trash-o" aria-hidden="true"></i></a>
    </button>
  </div>
  </h3>

</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Task</dt>
      <dd><%= @task.task %></dd>

      <dt>Signifier</dt>
      <dd><%= @task.task_signifier %></dd>

      <dt>Status</dt>
      <dd><%= @task.task_status %></dd>




      <dt>Date</dt>
      <dd><%= @task.date.strftime("%B %d, %Y")%></dd>

    </dl>

    
  </div>
</div>
