<div class="page-header">
  <h3>Tagging #<%= @tagging.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Note</dt>
      <dd>
        <% if @tagging.note.present? %>
          <a href="/notes/<%= @tagging.note_id %>">
            <%= @tagging.note.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>List</dt>
      <dd>
        <% if @tagging.category.present? %>
          <a href="/lists/<%= @tagging.list_id %>">
            <%= @tagging.category.list %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/taggings" class="btn btn-primary">
        Back
      </a>
      <a href="/taggings/<%= @tagging.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tagging/<%= @tagging.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
